# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints

*.csv
*.json
*.pickle
*.sav
*.jpg
*.png
*.svg

!features.svg
!stars.svg

old_models/
# data/training.csv
